// out: style.css, sourcemap: true, compress: true

body {
  background: #ececec;
}
.container {
  max-width: 1024px;
  padding-top: 50px;
  background: white;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  &:before,
  &:after {
    content: '';
    display: table;
  }
}

@challenge-stage-z-index: 9999;
@challenge-border-radius: 2px;
@challenge-builder-stages-width: 295px;
@challenge-builder-shadow: 0 2px 2px 0 #cecece;

.stage-colouring() {
  color: white;
  background: grey;
  &.Discuss {
    background: red;
  }
  &.Rank,
  &.Review {
    background: maroon;
  }
  &.Evaluate {
    background: orange;
  }
  &.Measure {
    background: blue;
  }
  &.Develop {
    background: black;
  }
  &.Capture,
  &.Gather {
    background: teal;
  }
}

.stage-builder-options {
  text-align: left;
}

form {
  input, select {
    &.ng-invalid.ng-dirty {
      border-color: red;
    }
  }
}

.anim-dropdown {
  display: block;
  overflow: hidden;
  max-height: 0;
  padding: 0;
  transition: max-height 0.5s, padding 0.5s;
  &.anim-dropdown-show {
    max-height: 500px;
  }
}

@import 'components/stage-builder.less';
@import 'components/stage-builder-menu.less';
@import 'mixins.less';

.challenge-stages-container {
  width: 100%;
  // width: @challenge-builder-stages-width;
  margin: 0 auto;
  position: relative;
  height: 100%;
  // float: left;
  border-radius: @challenge-border-radius;
  z-index: @challenge-stage-z-index;
  .challenge-stages-header {
    top: 50px;
    padding: 0.5em 0.25em;
    z-index: @challenge-stage-z-index + 50;
    box-shadow: @challenge-builder-shadow;
    background: white;
    margin: 0 -10px;
    margin-bottom: 1.5em;
  }
  .stage-type-label {
    .stage-colouring();
    margin-right: 1em;
  }
  .btn-remove-stage {
    background: #cecece;
    color: white;
    margin: 0;
    border: 0;
    outline: 0;
    height: 15px;
    &:hover {
      background: red;
    }
    .fa {
      margin: 0;
      padding: 0;
      position: relative;
      top: -3px;
    }
  }
  .grab-handle {
    margin: 0 auto;
    background: white;
    padding: 0.05em 0;
    text-align: right;
    // overflow: hidden;
    position: relative;
    height: 15px;
    border-bottom: 1px solid #ececec;
    &:hover {
      background: #ececec;
    }
    > .fa {
      margin: 0;
      padding: 0;
      position: absolute;
      left: 49%;
      color: white;
      color: darkgrey;
    }
  }
  article.challenge-stage {
    position: relative;
    padding: 0;
    display: block;
    width: 100%;
    user-select: none;
    transition: 0.5s background;
    &:after {
      font-family: 'FontAwesome';
      content: '\f04b';
      display: inline-block;
      position: absolute;
      left: 49%;
      color: white;
      text-shadow: 1px 0 1px grey;
      bottom: -0.95em;
      width: 1em;
      font-size: 2em;
      height: 1em;
      z-index: @challenge-stage-z-index + 20;
      transform: rotate(90deg);
    }
    .nav-tabs {
      border-bottom: 2px solid #888;
      li {
        &.active a {
          background: #888 !important;
          color: white !important;
          &:hover {
            border: none;
          }
        }
        a {
          border-radius: 0;
          border: none;
          padding: 0.5em;
          &:hover,
          &:focus {
            border: none;
            outline: 0;
            background: none;
          }
        }
      }
    }
    .tab-content {
      border-top: 0;
      padding: 1em;
      border: 0;
      h3 {
        margin-top: 0;
      }
    }
    .challenge-stage-inner {
      // border: 1px solid #cccccc;
      border: 1px solid #cecece;
      box-shadow: @challenge-builder-shadow;
      position: relative;
      z-index: @challenge-stage-z-index;
      background: white;
      padding: 0;
      border-radius: @challenge-border-radius;
      max-width: 500px;
      width: 100%;
      word-wrap: break-word;
      white-space: normal;
      display: block;
      width: 100%;
      position: relative;
      cursor: pointer;
      transition: 0.25s box-shadow linear;
      .challenge-stage-title {
        word-wrap: break-word;
        padding: 0.2em 0.5em;
        color: #111;
        background: white;
        height: auto;
        width: 100%;
        text-align: left;
        input {
          border: 0;
          outline: none;
          box-shadow: none;
          font-size: 1.7em;
          width: 100%;
          padding: 0;
          border-radius: 0;
        }
        h2 {
          display: block;
          // text-align: center;
          font-size: 1.05em;
          position: relative;
          padding: 0.5em 0;
          top: 4px;
          position: relative;
          margin: 0;
        }
        &:focus {
          outline: 0;
        }
      }
    }
    .challenge-stage-nav {
      text-align: center;
      border-top: 1px solid #ececec;
      padding-top: 0.25em;
      &:focus, &.active {
        outline: none;
      }
      .fa-times {
        color: red;
      }
      .fa-plus {
        color: green;
      }
      .show-more-link {
        border-top: 1px #ececec;
      }
    }
    .form-group {
      padding: 0.5em 1em;
      input {
        outline: none;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid grey;
        border-radius: 0;
      }
    }
  }
}

.challenge-stage-helper {
  .well {
    .close {
      color: black;
    }
  }
}
.challenge-stages-inspector {
  width: ~'calc(100% - 300px)';
  float: right;
  top: 20px;
  padding: 0 1em;
  .challenge-stages-inspector-inner {
    margin: 0 auto;
    width: 500px;
    max-width: 100%;
  }
}

.challenge-transition-stage {
  @challenge-transition-stage-colour: mix(orange, white, 50%);
  position: relative;
  z-index: @challenge-stage-z-index - 10;
  display: inline-block;
  margin: 0.25em 0;
  // background: @challenge-transition-stage-colour;
  color: black;
  // padding: 0.5em;
  border-radius: @challenge-border-radius;
  outline: none;
  color: #333;
  padding-bottom: 0.75em;
  strong {
    color: black;
    border-bottom: 1px solid orange;
    display: inline-block;
    margin: 0 0.35em;
  }
}

// Challenge Steps Wizard
.challenge-wizard {
  ul {
    width: 100%;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 0.75em;
      padding: 0 0.25em;
      font-size: 1.1em;
      &.active {
        border-bottom: 2px solid blue;
      }
    }
  }
}

/* Generics */
.site-header {
  z-index: 99999;
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: darkgrey;
  color: lightgrey;
  ul {
    max-width: 1024px;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    li {
      display: inline-block;
      text-align: center;
      a {
        height: 50px;
        line-height: 50px;
        padding: 0.25em 0.75em;
        display: inline-block;
        color: white;
        &:hover {
          background: grey;
          text-decoration: none;
        }
      }
      &:last-child {
        float: right;
      }
    }
  }
}
.site-footer {
  padding: 1em 0;
  border-top: 1px solid #ececec;
  margin-top: 1em;
  a {
    margin-right: 1.5em;
  }
}
