// out: style.css, sourcemap: true, compress: true

body {
  background: #ececec;
}
.container {
  max-width: 1024px;
  padding-top: 50px;
  background: white;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  &:before,
  &:after {
    content: '';
    display: table;
  }
}

@challenge-stage-z-index: 9999;
@challenge-border-radius: 2px;
@challenge-builder-stages-width: 295px;

.stage-colouring() {
  &.Discuss {
    background: red;
  }
  &.Rank {
    background: maroon;
  }
  &.Evaluate {
    background: orange;
  }
  &.Measure {
    background: blue;
  }
  &.Develop {
    background: black;
  }
  &.Capture {
    background: teal;
  }
}

.stage-builder-options {
  text-align: left;
}

form {
  input, select {
    &.ng-invalid.ng-dirty {
      border-color: red;
    }
  }
}

@import 'components/stage-builder.less';
@import 'components/stage-builder-menu.less';

.sortable-drag-handle {
  width: 1em;
  padding: 0 0.75em 0 0.55em;
  opacity: 0.5;
}
.sortable-ghost {
  transition: 0.25s opacity;
  opacity: 0.6;
  background: white;
  position: relative;
  z-index: @challenge-stage-z-index;
  header {
    background: white;
    transition: 0.25s background;
  }
}
.sortable-chosen {
  .challenge-stage-add-new {
    transition: 0.25s opacity ease;
    opacity: 0;
  }
}

.challenge-stages-container {
  width: 100%;
  // width: @challenge-builder-stages-width;
  margin: 0 auto 1em auto;
  position: relative;
  height: 100%;
  float: left;
  border-radius: @challenge-border-radius;
  z-index: @challenge-stage-z-index;
  background: #ececec;
  ul {
    margin: 0;
  }
  .challenge-stage {
    position: relative;
    padding: 0.5em 1em;
    display: block;
    width: 100%;
    text-align: center;
    user-select: none;
    // width: ~'calc(100% - 5px)';
    // &:before {
    //   content: '';
    //   display: block;
    //   position: absolute;
    //   height: 2px;
    //   width: 100px;
    //   top: 25%;
    //   background: red;
    //   left: 0;
    // }
    transition: 0.5s background;
    &.selected {
      background: #cecece;
    }
    .challenge-stage-inner {
      // border: 1px solid #cccccc;
      box-shadow: 0 2px 3px 0 #cecece;
      position: relative;
      z-index: @challenge-stage-z-index;
      background: white;
      padding: 0;
      border-radius: @challenge-border-radius;
      max-width: 100%;
      word-wrap: break-word;
      white-space: normal;
      display: inline-block;
      width: 100%;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      // box-shadow: 0 0 1px #ececec;
      transition: 0.25s box-shadow linear;
      .challenge-stage-title {
        word-wrap: break-word;
        padding: 0.2em 0.5em;
        color: #111;
        background: white;
        height: auto;
        text-align: left;
        .fa-times {
          border-radius: 50%;
          padding: 0.25em;
          color: red;
        }
        .btn {
          color: #111;
        }
        h3 {
          display: inline-block;
          // text-align: center;
          font-size: 1.25em;
          position: relative;
          top: 6px;
          position: relative;
          margin: 0.25em 0.15em;
        }
        .label {
          // margin: 0 1em 0 2em;
          .stage-colouring();
        }
        > span {
          display: inline-block;
          text-align: center;
        }
      }
    }
    .form-group {
      padding: 0.5em 1em;
      input {
        outline: none;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid grey;
        border-radius: 0;
      }
    }
  }
}

.challenge-stage-helper {
  // width: ~'calc(100% - 300px)';
  // float: right;
  // padding: 0 1em;
}
.challenge-stages-inspector {
  width: ~'calc(100% - 300px)';
  float: right;
  top: 20px;
  padding: 0 1em;
  .challenge-stages-inspector-inner {
    margin: 0 auto;
    width: 500px;
    max-width: 100%;
  }
  // height: auto !important;
  // width: 100% !important;
  .nav-tabs {
    border-bottom: 3px solid grey;
    li {
      &.active a {
        background: grey !important;
        color: white !important;
        &:hover {
          border: none;
        }
      }
      a {
        border-radius: 0;
        border: none;
        &:hover,
        &:focus {
          border: none;
          outline: 0;
          background: none;
        }
      }
    }
  }
  .tab-content {
    border-top: 0;
    padding: 15px 10px;
    border: 2px solid grey;
    h3 {
      margin-top: 0;
    }
  }
}

.challenge-transition-stage {
  @challenge-transition-stage-colour: mix(orange, white, 50%);
  position: relative;
  z-index: @challenge-stage-z-index - 10;
  display: inline-block;
  margin: 0.25em 1em;
  background: @challenge-transition-stage-colour;
  color: black;
  padding: 0.5em;
  border-radius: @challenge-border-radius;
  // &:before {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   height: 20px;
  //   width: 3px;
  //   top: -20px;
  //   left: 49%;
  //   background: @challenge-transition-stage-colour;
  // }
}

/* Generics */
.site-header {
  z-index: 99999;
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: darkgrey;
  color: lightgrey;
  ul {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 15px;
    li {
      display: inline-block;
      text-align: center;
      a {
        height: 50px;
        line-height: 50px;
        padding: 0.25em 0.75em;
        display: inline-block;
        color: white;
        &:hover {
          background: grey;
          text-decoration: none;
        }
      }
      &:last-child {
        float: right;
      }
    }
  }
}
.site-footer {
  padding: 1em 0;
  border-top: 1px solid #ececec;
  margin-top: 1em;
}
