// out: style.css, sourcemap: true, compress: true

body {
  background: #ececec;
}
.container {
  max-width: 1024px;
  padding-top: 50px;
  background: white;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  &:before,
  &:after {
    content: '';
    display: table;
  }
}

@challenge-stage-z-index: 9999;
@challenge-border-radius: 5px;
@challenge-builder-stages-width: 295px;
@challenge-builder-shadow: 0 3px 10px lightgrey;
@challenge-builder-col-left: 1em;

.stage-builder-options {
  text-align: left;
}

form {
  input, select {
    &.ng-invalid.ng-dirty {
      border-color: red;
    }
  }
}

@import '../../bower_components/font-awesome/less/font-awesome.less';
@import 'components/stage-builder.less';
@import 'components/stage-builder-menu.less';
@import 'mixins.less';

.challenge-sticky-header {
  top: 50px;
  padding: 0.5em 0;
  z-index: @challenge-stage-z-index + 50;
  margin: 0;
}

.challenge-stages-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100%;
  border-radius: @challenge-border-radius;
  z-index: @challenge-stage-z-index;
  .stage-type-label {
    .stage-colouring();
    margin-right: 1em;
  }
  .grab-handle {
    @grab-handle-height: 20px;
    margin: -1px;
    padding: 0.05em 0;
    cursor: pointer;
    text-align: right;
    position: relative;
    height: @grab-handle-height;
    background: grey;
    color: white;
    border-bottom: 1px solid #ececec;
    .striped-gradient();
    &:hover {
      background: darken(grey, 10%);
      &:before {
        color: darken(grey, 10%);
      }
    }
    .fa.fa-ellipsis-h {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 2px;
      left: 49%;
      color: white;
    }
  }
  article.challenge-stage {
    @timeline-bar-colour: #cecece;
    @timeline-start-colour: rgb(145, 172, 152);
    @timeline-end-colour: rgb(166, 180, 203);
    position: relative;
    padding: 0;
    display: block;
    width: 100%;
    user-select: none;
    transition: 0.5s background;
    .timeline-bar {
      display: block;
      background: @timeline-bar-colour;
      width: 3px;
      position: absolute;
      left: @challenge-builder-col-left;
      top: 0;
      bottom: 0;
      .timeline-knuckle {
        background: white;
        padding: 0.5em;
        border-radius: 50%;
        display: inline-block;
        border: 3px solid @timeline-bar-colour;
        position: absolute;
        left: -8px;
        top: 28px;
        &:after {
          content: '';
          background: @timeline-bar-colour;
          display: block;
          position: absolute;
          height: 3px;
          right: -25px;
          left: 100%;
        }
      }
    }
    &.first-stage,
    &.last-stage {
      .challenge-stage-inner {
        box-shadow: none;
        border: 3px solid @timeline-bar-colour;
      }
    }
    &.first-stage {
      .timeline-bar {
        background: @timeline-start-colour;
        top: 50%;
        .timeline-knuckle {
          top: 0;
          border-color: @timeline-start-colour;
          &:after {
            background-color: @timeline-start-colour
          }
        }
      }
      .challenge-stage-inner {
        border-color: @timeline-start-colour;
      }
    }
    &.last-stage {
      .timeline-bar {
        background: @timeline-end-colour;
        top: 0;
        bottom: 50%;
        .timeline-knuckle {
          border-color: @timeline-end-colour;
          top: auto;
          bottom: 0;
          &:after {
            background-color: @timeline-end-colour
          }
        }
      }
      .challenge-stage-inner {
        border-color: @timeline-end-colour;
      }
    }
    .nav-tabs {
      li:first-of-type a {
        border-left: 0;
        border-top-left-radius: 0;
      }
    }
    .tab-content {
      border-top: 0;
      padding: 1em;
      border: 0;
      h3 {
        margin-top: 0;
      }
    }
    .challenge-stage-inner {
      border: 1px solid #ececec;
      box-shadow: @challenge-builder-shadow;
      position: relative;
      z-index: @challenge-stage-z-index;
      background: white;
      padding: 0;
      overflow: hidden;
      border-radius: @challenge-border-radius;
      width: ~'calc(100% - 6em)';
      &.challenge-stage-auto-width {
        width: auto;
        display: inline-block;
        padding: 0.5em 1em 0 0.5em;
        p {
          padding: 0;
          margin: 0;
        }
      }
      margin: 2em 0 2em 3em;
      word-wrap: break-word;
      white-space: normal;
      display: block;
      position: relative;
      transition: 0.25s box-shadow linear;
    }
    .challenge-stage-nav {
      text-align: center;
      border-top: 1px solid #ececec;
      padding-top: 0.25em;
      &:focus, &.active {
        outline: none;
      }
      .fa-times {
        color: red;
      }
      .fa-plus {
        color: green;
      }
      .show-more-link {
        border-top: 1px #ececec;
      }
    }
    // .form-group {
    //   padding: 0.5em 1em;
    //   input {
    //     outline: none;
    //     border: none;
    //     background: #ececec;
    //     box-shadow: none;
    //     border-bottom: 2px solid grey;
    //     border-radius: 0;
    //   }
    // }
    .stage-detail-hud {
      margin-top: 1em;
      padding: 0 1.5em;
    }
  }
}

.select-top {
  margin-top: 1em;
  // width: calc(100% - 6em);
  width: 100%;
  max-width: 400px;
  margin: 1em auto 0 auto;
  // margin: 1em auto 0 auto;
}

.btn {
  &.btn-icon-info {
    border: 1px solid grey;
    background: white;
    color: black;
    .fa {
      margin-right: 0.5em;
    }
  }
}

.input-fancy {
  word-wrap: break-word;
  padding: 0.2em 0.5em;
  color: #111;
  height: auto;
  width: 100%;
  text-align: left;
  position: relative;
  margin: 0.5em 0 0 0;
  font-size: 1em;
  input {
    border: 0;
    outline: none;
    box-shadow: none;
    // background: #ececec;
    box-sizing: border-box;
    font-size: 1.5em;
    width: 100%;
    padding: 0.05em 0.35em;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    &:focus {
      outline: 0;
    }
    &+.well {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
  &:after {
    .fa();
    content: @fa-var-pencil;
    position: absolute;
    right: 1em;
    top: 1.15em;
    color: darkgrey;
  }
}

.challenge-stage-helper {
  text-align: left;
  .well {
    .close {
      color: black;
    }
  }
}

// Challenge Steps Wizard
.challenge-wizard {
  img {
    margin: 1em auto 2em auto;
  }
  ul {
    width: 100%;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 0.75em;
      padding: 0 0.25em;
      font-size: 1.1em;
      &.active {
        border-bottom: 2px solid blue;
      }
    }
  }
}

/* Generics */
.site-header {
  z-index: 99999;
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: darkgrey;
  color: lightgrey;
  ul {
    max-width: 1024px;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    li {
      display: inline-block;
      text-align: center;
      a {
        height: 50px;
        line-height: 50px;
        padding: 0.25em 0.75em;
        display: inline-block;
        color: white;
        &:hover {
          background: grey;
          text-decoration: none;
        }
      }
      &:last-child {
        float: right;
      }
    }
  }
}
.site-footer {
  padding: 1em 0;
  border-top: 1px solid #ececec;
  margin-top: 1em;
  a {
    margin-right: 1.5em;
  }
}

.article-viewer {
  border: 1px solid #cecece;
  border-right: 0;
  border-left: 0;
  margin-bottom: 1em;
  overflow: hidden;
  .article-viewer-menu,
  .article-viewer-body,
  .article-viewer-collapse {
    display: table-cell;
    overflow: scroll;
    padding: 5px;
    position: relative;
  }
  .article-viewer-menu {
    border-right: 1px solid #cecece;
    padding: 3px 5px;
    width: 15em;
    position: relative;
    > ul {
      margin: 0;
      list-style: none;
      padding: 3px;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      overflow: scroll;
      > li {
        > ol {
          display: block;
          padding-left: 1.5em;
          padding: 0;
          list-style: decimal inside;
          > li {
            outline: none;
            padding: 2px 5px;
            border-radius: 5px;
            &.active {
              background: #ececec;
            }
          }
        }
      }
    }
  }
  .article-viewer-body {
    background: white;
    padding: 1em 1.5em;
    &.acticle-viewer-body-inner {
      display: block;
      max-height: 10em;
      min-height: 5em;
    }
  }
  .article-viewer-collapse {
    background: white;
    width: 15px;
    color: grey;
    outline: none;
    &:hover {
      background: #ececec;
    }
    &:after {
      .fa();
      color: inherit;
      content: @fa-var-angle-double-right;
      position: absolute;
      top: 47%;
      left: 3px;
      margin: 0;
      padding: 0;
    }
    &.collapsed {
      &:after {
        content: @fa-var-angle-double-left;
      }
    }
  }
}
