// add new stage
.challenge-stage-list-container {
  margin-top: 1.5em;
}
.challenge-stage-list-item {
  max-height: 800px;
  transition: 1s opacity, 1s max-height, 1s border;
  &.ng-enter {
    opacity: 0;
    max-height: 0px;
  }
  &.ng-enter-active {
    opacity: 1;
    max-height: 200px;
  }
  &.ng-leave {
    transition: 1s opacity, 1s max-height;
  }
  &.ng-leave-active  {
    opacity: 0;
    max-height: 0px;
  }
  // &.selected header {
  //   background: green;
  // }
  border: 10px dashed transparent;
  &.sortable-ghost {
    transition: 0.25s border;
    border-color: #f3f3f3;
    // opacity: 0.6;
    position: relative;
    z-index: @challenge-stage-z-index;
    .challenge-stage-inner {
      opacity: 0.5;
    }
    header {
      background: white;
      transition: 0.25s background;
    }
  }
  // &.sortable-chosen {
  //   .challenge-stage-add-new {
  //     transition: 0.25s opacity ease;
  //     opacity: 0;
  //   }
  // }
}

// challenge stages
.challenge-stages-start,
.challenge-stages-end {
  // sets height, width and lineheight
  @challenge-stages-dimension: auto;
  position: relative;
  z-index: @challenge-stage-z-index;
  display: block;
  width: @challenge-stages-dimension;
  height: @challenge-stages-dimension;
  line-height: @challenge-stages-dimension;
  text-align: center;
  font-size: 3em;
  background: green;
  // border: 2px solid green;
  color: white;
  border-radius: @challenge-border-radius;
  margin: 0.5em 0 auto 0;
  cursor: pointer;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 5px;
  box-shadow: 0px 3px 3px 0px #cecece;
}
.challenge-stages-end {
  margin: 0 auto;
  background: red;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0px -3px 3px 0px #cecece;
}
