// add new stage

.challenge-stage-list-item {
  max-height: 200px;
  transition: 1s opacity, 1s max-height;
  &.ng-enter {
    opacity: 0;
    max-height: 0px;
  }
  &.ng-enter-active {
    opacity: 1;
    max-height: 200px;
  }
  &.ng-leave {
    transition: 1s opacity, 1s max-height;
  }
  &.ng-leave-active  {
    opacity: 0;
    max-height: 0px;
  }
  &.selected header {
    background: green;
  }
}

// challenge stages
.challenge-stages-start,
.challenge-stages-end {
  // sets height, width and lineheight
  @challenge-stages-dimension: auto;
  position: relative;
  z-index: @challenge-stage-z-index;
  display: block;
  width: @challenge-stages-dimension;
  height: @challenge-stages-dimension;
  line-height: @challenge-stages-dimension;
  text-align: center;
  font-size: 3em;
  background: green;
  // border: 2px solid green;
  color: white;
  border-radius: @challenge-border-radius;
  margin: 0 auto;
  cursor: pointer;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 5px;
}
.challenge-stages-end {
  margin-bottom: 0;
  background: red;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
