// add new stage
.challenge-stage-list-container {
  margin: 0;
}
.challenge-stage-list-item {
  background: white;
  // width: ~'calc(100% - 3em)';
  width: 100%;
  position: relative;
  transition: 1s opacity, 1s max-height, 1s border;
  // &.selected header {
  //   background: green;
  // }
  // border: 5px dashed transparent;
  border-left: none;
  border-right: none;
  transition: 0.25s background, 0.5s border-color;
  // .sortable-grab {
  //   cursor: move;
  //   height: 2em;
  //   width: 2em;
  //   background: red;
  // }
  &.sortable-chosen {
    // opacity: 0.5;
    // background: #cecece;
  }
  &.sortable-ghost {
    // border-color: #f3f3f3;
    transition: 0.25s background, 0.5s border-color;
    background: #ececec;
    border-radius: 15px;
    // border-color: #cecece;
    // opacity: 0.6;
    // position: relative;
    // z-index: @challenge-stage-z-index;
    // .challenge-stage-inner,
    // .challenge-stage-detail-toolbar {
    //   opacity: 0.25;
    // }
    // header {
    //   background: white;
    //   transition: 0.25s background;
    // }
  }
}

// Left aligned toolbar for stage details
.challenge-stage-detail-toolbar {
  position: absolute;
  right: 0;
  top: 2em;
  bottom: 0;
  width: 3em;
  button {
    background: none;
    border-radius: 3px;
    border: none;
    outline: none;
    .fa {
      padding: 0;
      margin: 0;
      &.fa-trash {
        color: red;
      }
    }
    &:hover, &:active, &:focus {
      background: #ececec;
    }
  }
  // border-right: 1px solid #ececec;
  // .list-group {
  //   .list-group-item {
  //     border: 0;
  //     &.btn-remove-stage {
  //       color: red !important;
  //       // margin: 0;
  //       // background: none;
  //       // border: 0;
  //       outline: 0;
  //     }
  //     &.btn-add-stage {
  //       color: green !important;
  //       outline: 0;
  //     }
  //   }
  // }
}

// Left aligned challenge stage type indicator
.challenge-stage-type {
  display: inline-block;
  .stage-colouring();
  width: 1em;
  height: 1em;
  font-size: 2.5em;
  line-height: 1em;
  border-radius: 50%;
  box-shadow: @challenge-builder-shadow;
}

// challenge stages
.challenge-stages-start,
.challenge-stages-end {
  // sets height, width and lineheight
  @challenge-stages-dimension: auto;
  position: relative;
  z-index: @challenge-stage-z-index;
  display: block;
  width: @challenge-stages-dimension;
  height: @challenge-stages-dimension;
  line-height: @challenge-stages-dimension;
  font-size: 3em;
  background: green;
  // border: 2px solid green;
  color: white;
  border-radius: @challenge-border-radius;
  margin: 0;
  cursor: pointer;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0px 3px 3px 0px #cecece;
}
.challenge-stages-end {
  margin: 0 auto;
  background: red;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0px -3px 3px 0px #cecece;
}
