// output:../../views/stage-detail.html
//- Individual Stages
article.challenge-stage(ng-model="challengeStage")
  .challenge-stage-inner
    header.challenge-stage-title(ng-click="$ctrl.selectStage(stage)", ng-class="{'selected': $ctrl.selectedStage === stage}")
      h3 {$ $ctrl.stage.name ? $ctrl.stage.name : 'New Stage' $}
      span.label(ng-class="$ctrl.stage.type") {$ $ctrl.stage.type $}
      span(uib-dropdown, dropdown-append-to-body)
        button.btn.btn-link(uib-dropdown-toggle, aria-hidden="true")
          i.fa.fa-trash
        ul.dropdown-menu(uib-dropdown-menu, role="menu")
          li(ng-click="$ctrl.delete()")
            button.btn.btn-link Confirm remove stage
              
  .text-center
    //- Transition stage
    .challenge-transition-stage.text-center.sortable-ignored
      |  Manually Closes
