// output:../../views/stage-detail.html

//- Individual Stages
article.challenge-stage.clearfix(
  ng-model="challengeStage"
  ng-class="[{'fixed': $ctrl.stage.editSettings.fixed}, {'first-stage': $ctrl.first}, {'last-stage': $ctrl.last}, [$ctrl.stage.type]]"
  ng-cloak)

  //- Timeline bar running down left side
  .timeline-bar
    .timeline-knuckle(ng-class="$ctrl.stage.type")

  //- Remove/delete stage
  .challenge-stage-detail-toolbar.text-center(ng-show="!$ctrl.stage.deleted && !$ctrl.stage.editSettings.fixed")
    button(ng-click="$ctrl.delete();")
      | #[i.fa.fa-trash]

  //- Inside wrapper contains content
  .challenge-stage-inner.clearfix(ng-class="{'challenge-stage-auto-width': $ctrl.stage.deleted}")
    div.ng-hide(ng-show="$ctrl.stage.deleted")
      p Stage removed ({$ $ctrl.stage.name $})
      p #[button.btn.btn-success.btn-xs(ng-click="$ctrl.stage.deleted = false; $ctrl.stage.editSettings.sortable = true", title="undo") Undo #[i.fa.fa-undo]] #[button.btn.btn-warning.btn-xs(ng-click="$ctrl.delete()") Remove #[i.fa.fa-times]]

    //- Main content hide when stage is deleted
    div(ng-show="!$ctrl.stage.deleted")
      .grab-handle(ng-show="!$ctrl.stage.editSettings.fixed")
        i.fa.fa-ellipsis-h
      form.row
        .col-sm-6.clearfix
          h2.col-xs-12.input-fancy #[input(ng-model="$ctrl.stage.name", type="text" placeholder="give your stage a name" required)]
            .well.well-sm
              em {$ $ctrl.getStageTypeDesc($ctrl.stage.type) $}

        //- Heads up info about the stage
        .col-sm-6.stage-detail-hud
          .btn.btn-icon-info
            | #[.fa.fa-eye] {$ $ctrl.stage.ideaVisibility ? 'Ideas Visible' : 'Ideas Hidden' $}
          .btn.btn-icon-info
            | #[.fa.fa-calendar] 7 Days Left to Complete
          .btn.btn-icon-info
            | #[.fa.fa-line-chart] 7 Votes or 5 Comments
          | #[span or]
          .btn.btn-icon-info
            | #[.fa.fa-clock-o] 5 days

      .row    
        .col-xs-12
          //- Show/Hide further details
          .anim-dropdown.clearfix(ng-class="{'anim-dropdown-show': $ctrl.showMore}")

            //- Stage options tabs
            .challenge-stage-expanded-options(uib-tabset)

              //- General stage settings
              div(uib-tab, heading="Stage Settings")
                stage-builder-options(stage="$ctrl.stage", users="$ctrl.users")

              //- Tab for evualator only when stage = evaluate
              div(uib-tab, heading="Evaluators", ng-if="$ctrl.stage.type === 'Evaluate'")
                form
                  .form-group
                    p Evaluators are appointed by:
                    label.radio #[input(type="radio")] by category
                    label.radio #[input(type="radio")] by challenge
                  .form-group
                    input.form-control(type="text", ng-model="selected", uib-typeahead="name for name in $ctrl.users | filter:$viewValue | limitTo:8")
                    pre {$ selected | json $}
                    label Send evaluators this message:
                    textarea.btn-block(placeholder="You have a new idea to evaluate")
                    label.input-radio 
                      | Evaluators can invite additional people on specific ideas #[input(type="checkbox")]
                  .form-group
                    p Evaluators receive this message when tey have an idea to evaluate:
                    textarea(name="", cols="30", rows="10")

              //- Progression settings
              div(uib-tab, heading="Progression Settings")
                stage-progression-options(progression="$ctrl.stage.progression")

              //- TODO: Remove this dev stage
              div.pull-right(uib-tab, heading="</>")
                pre {$ $ctrl.stage | json $}

          //- Display expanded settings
          .show-more-link
            button.btn.btn-link(ng-click="$ctrl.showMore = !$ctrl.showMore")
              | {$ $ctrl.showMore ? 'Show Less' : 'Customise' $} #[i.fa(ng-class="$ctrl.showMore ? 'fa-chevron-up' : 'fa-chevron-down'")]
