
<article ng-model="challengeStage" ng-class="[{'fixed': $ctrl.stage.fixed}, [$ctrl.stage.type]]" class="challenge-stage clearfix">
  <div class="timeline-bar">
    <div ng-class="$ctrl.stage.type" class="timeline-knuckle"></div>
  </div>
  <div class="challenge-stage-detail-toolbar text-center">
    <button ng-if="$ctrl.stage.sortable"><i class="fa fa-arrows"></i></button>
    <button ng-click="$ctrl.delete();" ng-if="!$ctrl.stage.fixed"><i class="fa fa-trash"></i></button>
  </div>
  <div ng-class="{'challenge-stage-auto-width': $ctrl.stage.deleted}" class="challenge-stage-inner clearfix">
    <div ng-show="$ctrl.stage.deleted" class="ng-hide">
      <p>Stage removed ({$ $ctrl.stage.name $}). Click 
        <button ng-click="$ctrl.stage.deleted = false; $ctrl.stage.sortable = true" title="undo" class="btn btn-link">'here'</button> to undo
      </p>
    </div>
    <div ng-show="!$ctrl.stage.deleted">
      <div ng-show="!$ctrl.stage.fixed" class="grab-handle"><i class="fa fa-ellipsis-h"></i></div>
      <form class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <div class="challenge-stage-title">
              <h2>
                <input ng-model="$ctrl.stage.name" type="text" placeholder="give your stage a name" required="required"/>
              </h2>
              <div uib-dropdown="uib-dropdown" ng-if="!$ctrl.stage.fixed" class="btn-group">
                <button uib-dropdown-toggle="uib-dropdown-toggle" dropdown-append-to-body="dropdown-append-to-body" class="btn btn-link">{$ $ctrl.stage.type $}</button>
                <ul class="dropdown-menu list-group stage-builder-menu">
                  <li ng-click="$ctrl.changeType(stage.name, type)" ng-repeat="type in $ctrl.stageTypes track by $index" ng-class="type" class="list-group-item"><span ng-class="type"></span> {$ type $}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <div uib-dropdown="uib-dropdown" class="btn-group">
              <button uib-dropdown-toggle="uib-dropdown-toggle" class="btn btn-link"><span class="fa fa-eye"></span> Idea visibility: {$ $ctrl.stage.ideaVisibility $}</button>
              <ul class="dropdown-menu list-group">
                <li ng-show="!$ctrl.stage.ideaVisibility" ng-click="$ctrl.stage.ideaVisibility = true" ng-class="type" class="list-group-item"><span ng-class="type"></span> Visible</li>
                <li ng-show="$ctrl.stage.ideaVisibility" ng-click="$ctrl.stage.ideaVisibility = false" ng-class="type" class="list-group-item"><span ng-class="type"></span> Hidden</li>
              </ul>
            </div>
            <button class="btn btn-link">Progression: {$ $ctrl.stage.progression.type $}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</article>