
<div ng-switch="$ctrl.type" class="stage-builder-options">
  <div ng-switch-when="Gather">
    <p>Do you want to send email confirmation when an idea is added?</p>
    <div class="form-group">
      <label class="input-radio">
        <input type="checkbox"/>Yes
      </label>
      <label class="input-radio">
        <input type="checkbox"/>No
      </label>
    </div>
    <p>Are ideas visible to anyone?
      <div class="form-group">
        <label class="input-radio">
          <input type="checkbox"/> Yes - anyone can see ideas
        </label>
        <label class="input-radio">
          <input type="checkbox"/> No - only admins can see ideas
        </label>
      </div>
    </p>
  </div>
  <div ng-switch-when="Rank">
    <uib-tabset>
      <uib-tab heading="Criteria"> 
        <div class="form-group">
          <label class="input-radio"> 
            <input type="radio"/> Categories
          </label>
          <label class="input-radio"> 
            <input type="radio"/> Challenge
          </label>
        </div><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/318382/Screen_Shot_2016-08-08_at_11.30.55.png" alt="drag and dropper" class="img-responsive"/>
      </uib-tab>
      <uib-tab heading="Evaluators">
        <div class="form-group">
          <div class="input-group">
            <input type="text" placeholder="Search by name or group" class="form-control"/><span class="input-group-btn">
              <button class="btn btn-default">Add</button></span>
          </div>
        </div>
        <div class="form-group">
          <input type="text"/>
        </div>
        <div class="form-group">
          <label class="input-checkbox">Evaluators can invite additional people on specific ideas 
            <input type="checkbox"/>
          </label>
        </div>
      </uib-tab>
    </uib-tabset>
    <div class="btn-wrapper">
      <button class="btn btn-default">Save</button>
      <button class="btn btn-cancel">Cancel</button>
    </div>
  </div>
  <div ng-switch-when="Review">
    <div>
      <label class="input-checkbox">
        <input type="checkbox"/> Do something?
      </label>
    </div>
  </div>
  <div ng-switch-when="Discuss">
    <div>
      <label class="input-radio">
        <input type="radio"/> Yes - anyone can see ideas
      </label>
    </div>
    <div>
      <label class="input-radio">
        <input type="radio"/> No - only Admins can see ideas
      </label>
    </div>
  </div>
  <div ng-switch-when="Develop">
    <div class="form-group"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/318382/Screen_Shot_2016-08-08_at_11.30.55.png" alt="drag and dropper" class="img-responsive"/></div>
    <div class="form-group">
      <p>Can new ideas be added?</p>
      <label class="input-checkbox">
        <input type="checkbox"/> Yes - brand new ideas can be added
      </label>
      <label class="input-checkbox">
        <input type="checkbox"/> No - only ideas from previous stages
      </label>
    </div>
    <div class="form-group">
      <p>Are ideas visible to anyone?</p>
      <label class="input-checkbox">
        <input type="checkbox"/> Yes - anyone can see ideas
      </label>
      <label class="input-checkbox">
        <input type="checkbox"/> No - only Admins can see ideas
      </label>
    </div>
    <div class="btn-wrapper">
      <button class="btn btn-default">Save</button>
      <button class="btn btn-cancel">Cancel</button>
    </div>
  </div>
  <div ng-switch-when="Measure">
    <p>Select an idea form:</p>
    <div class="form-group"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/318382/Screen_Shot_2016-08-08_at_11.30.55.png" alt="drag and dropper" class="img-responsive"/></div>
    <div class="form-group">
      <p>Are ideas visible to anyone?</p>
      <label class="input-radio">
        <input type="radio"/> Yes - anyone can see ideas
      </label>
      <label class="input-radio">
        <input type="radio"/> No - only admins can see ideas
      </label>
    </div>
  </div>
</div>