
<div ng-class="{'anim-dropdown-show': $ctrl.helpOpen}" class="challenge-stage-helper anim-dropdown">
  <div class="row">
    <div class="col-xs-12">
      <article ng-switch="$ctrl.currentArticle" class="article-viewer">
        <div ng-show="$ctrl.showContents" class="article-viewer-menu">
          <ul>
            <li ng-repeat="page in $ctrl.helpObject.documents.pages">
              <h4>{$ page.name $}</h4>
              <ol>
                <li ng-repeat="article in page.articles" ng-click="$ctrl.currentArticle = article" ng-class="{'active': $ctrl.currentArticle === article}">{$ article.name $}</li>
              </ol>
            </li>
          </ul>
        </div>
        <div ng-class="{'collapsed': $ctrl.showContents}" ng-click="$ctrl.showContents = !$ctrl.showContents" class="article-viewer-collapse"></div>
        <div class="article-viewer-body">
          <div class="article-viewer-body-inner">
            <h4>{$ $ctrl.currentArticle.name ? $ctrl.currentArticle.name : 'Help' $}</h4>
            <p>{$ $ctrl.currentArticle.content ? $ctrl.currentArticle.content : 'Select a help article on the left to learn more.' $}</p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>