
<article ng-model="challengeStage" ng-class="{'selected': $ctrl.selectedStage === $ctrl.stage}" class="challenge-stage">
  <div class="challenge-stage-inner clearfix">
    <div class="grab-handle"><i class="fa fa-ellipsis-h"></i></div>
    <header ng-click="$ctrl.selectStage(stage)" class="challenge-stage-title clearfix"><span>
        <input ng-model="$ctrl.stage.name" type="text"/></span><span class="text-right"><span ng-class="$ctrl.stage.type" class="btn stage-type-label">{$ $ctrl.stage.type $}</span>
        <div ng-click="$ctrl.selectStage(stage); $ctrl.inspectorTab = 1" class="challenge-transition-stage text-center sortable-ignored">{$ $ctrl.stage.progression $}</div></span></header>
    <div ng-show="showMore" class="col-xs-12 clearfix">
      <div class="row">
        <stage-builder-options type="$ctrl.stage.type"></stage-builder-options>
      </div>
    </div>
    <nav class="challenge-stage-nav clearfix"><span class="pull-right">
        <button ng-click="$ctrl.delete();" class="btn btn-link">Remove stage <i class="fa fa-times"></i></button>
        <stage-builder-menu on-add-stage="$ctrl.addStage(type, $index)" stage-types="$ctrl.stageTypes" stage-index="$index"></stage-builder-menu></span>
      <div class="show-more-link pull-left">
        <button ng-click="showMore = !showMore" class="btn btn-link">Show {$ showMore ? 'Less' : 'More' $} <span ng-class="showMore ? 'fa-chevron-up' : 'fa-chevron-down'" class="fa"></span></button>
      </div>
    </nav>
  </div>
</article>