
<div class="row">
  <div class="col-xs-12">
    <div class="challenge-stages-container">
      <div class="challenge-stages-header sticky clearfix"> 
        <stage-build-helper helper-object-current-stage="$ctrl.helperObjectCurrentStage" helper-object-stages="$ctrl.helperObjectStages" help-open="$ctrl.helpOpen"></stage-build-helper>
        <buton ng-show="!$ctrl.helpOpen" ng-click="$ctrl.helpOpen = !$ctrl.helpOpen" class="btn btn-default">Open Help</buton>
        <button ng-show="$ctrl.deletedStages.length &gt; 0" ng-click="$ctrl.undoDelete()" class="btn btn-warning">Undo Remove {$ $ctrl.deletedStages[0].name $}</button>
        <stage-builder-menu on-add-stage="$ctrl.addStage(type, $index)" stage-types="$ctrl.stageTypes" stage-index="$index"></stage-builder-menu><span class="pull-right">
          <button class="btn btn-success">Validated <i class="fa fa-check"></i></button>
          <button class="btn btn-default">Next Step</button></span>
      </div>
      <div ng-if="!alwaysTrue">
        <ul ng-sortable="{animation: 350, draggable: '.sortable-item'}" class="list-unstyled challenge-stage-list-container">
          <li ng-repeat="stage in $ctrl.currentStages" ng-class="stage.type === 'Open' || stage.type === 'Close' ? stage.type : 'sortable-item'" class="challenge-stage-list-item">
            <stage-detail stage="stage" last="$last" on-delete="$ctrl.deleteStage(stage)" stage-types="$ctrl.stageTypes" inspector-tab="$ctrl.inspectorTabActive" add-stage="$ctrl.addStage(type, $index)" stage-index="$index"></stage-detail>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>