
<div class="row">
  <div class="col-xs-5">
    <div class="challenge-stages-container">
      <div ng-model="startStage" ng-click="$ctrl.inspectorTabActive = 1" class="challenge-stages-start"><i class="fa fa-trophy"></i> {$ startStageName ? startStageName : 'Capture' $}</div>
      <stage-builder-menu on-add-stage="$ctrl.addStage(type, $index)" stage-types="$ctrl.stageTypes" stage-index="$index"></stage-builder-menu>
      <ul id="stageList" class="list-unstyled">
        <li ng-repeat="stage in $ctrl.currentStages" class="challenge-stage-list-item">
          <stage-detail stage="stage" last="$last" on-delete="$ctrl.deleteStage(stage)" on-add-stage="$ctrl.addStage()" stage-types="$ctrl.stageTypes" select-stage="$ctrl.selectedStage(stage)" selected-stage="$ctrl.selected" ng-class="{'selected': $ctrl.selectedStage === stage}"></stage-detail>
          <stage-builder-menu on-add-stage="$ctrl.addStage(type, $index)" stage-types="$ctrl.stageTypes" stage-index="$index"></stage-builder-menu>
        </li>
      </ul>
      <div ng-model="endStage" ng-click="$ctrl.inspectorTabActive = 2" class="challenge-stages-end"><i class="fa fa-flag-checkered"></i> {$ endStageName ? endStageName : 'Finish' $}</div>
    </div>
  </div>
  <div class="col-xs-7">
    <div sticky="sticky" offset="10" class="challenge-stages-inspector">
      <uib-tabset active="$ctrl.inspectorTabActive">
        <uib-tab heading="Settings" index="0">
          <h3>Global Challenge Settings</h3>
          <stage-builder-menu on-add-stage="$ctrl.addStage(type)" stage-types="$ctrl.stageTypes"></stage-builder-menu>
          <div class="checkbox">
            <label>
              <input type="checkbox"/> Option 1
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"/> Option 2
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"/> Option 3
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"/> Option 4
            </label>
          </div>
        </uib-tab>
        <uib-tab index="1" heading="Capture">
          <h3>Capture</h3>
          <p>Various settings pertaining to your open stage</p><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/318382/Screen_Shot_2016-08-08_at_11.30.55.png" alt="picker" class="img-responsive"/>
        </uib-tab>
        <uib-tab index="2" heading="Finish">
          <h3>Finish</h3>
          <p>Various settings pertaining to your finish stage</p>
          <div class="checkbox">
            <label>
              <input type="checkbox"/> Option 1
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"/> Option 2
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"/> Option 3
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"/> Option 4
            </label>
          </div>
        </uib-tab>
        <uib-tab heading="{$ $ctrl.selected.name ? $ctrl.selected.name : 'New Stage' $}" ng-show="$ctrl.selected" index="3">
          <h3>Stage Settings</h3>
          <form name="stage-settings">
            <div class="form-group">
              <input type="text" ng-model="$ctrl.selected.name" required="required" class="form-control"/>
            </div>
            <div class="form-group">
              <select ng-model="$ctrl.selected.type" ng-class="$ctrl.stage.type" required="required" class="form-control">
                <option disabled="disabled" selected="selected" value="value">-- Select Stage Type --</option>
                <option ng-repeat="type in $ctrl.stageTypes track by $index" value="{$ type $}">{$ type $}</option>
              </select>
            </div>
            <stage-builder-options type="$ctrl.selected.type"></stage-builder-options>
          </form>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>