
<article ng-model="challengeStage" ng-class="[{'fixed': $ctrl.stage.fixed}, [$ctrl.stage.type]]" class="challenge-stage clearfix">
  <div class="timeline-bar">
    <div ng-class="$ctrl.stage.type" class="timeline-knuckle"></div>
  </div>
  <div ng-show="!$ctrl.stage.deleted &amp;&amp; !$ctrl.stage.fixed" class="challenge-stage-detail-toolbar text-center">
    <button ng-click="$ctrl.delete();"><i class="fa fa-trash"></i></button>
  </div>
  <div ng-class="{'challenge-stage-auto-width': $ctrl.stage.deleted}" class="challenge-stage-inner clearfix">
    <div ng-show="$ctrl.stage.deleted" class="ng-hide">
      <p>Stage removed ({$ $ctrl.stage.name $}). Click 
        <button ng-click="$ctrl.stage.deleted = false; $ctrl.stage.sortable = true" title="undo" class="btn btn-link">'here'</button> to undo <span ng-click="$ctrl.delete()"><i class="fa fa-times"></i></span>
      </p>
    </div>
    <div ng-show="!$ctrl.stage.deleted">
      <div ng-show="!$ctrl.stage.fixed" class="grab-handle"><i class="fa fa-ellipsis-h"></i></div>
      <form class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <div class="challenge-stage-title">
              <h2>
                <input ng-model="$ctrl.stage.name" type="text" placeholder="give your stage a name" required="required"/>
              </h2>
              <div uib-dropdown="uib-dropdown" ng-if="!$ctrl.stage.fixed" class="btn-group">
                <button uib-dropdown-toggle="uib-dropdown-toggle" dropdown-append-to-body="dropdown-append-to-body" class="btn btn-select">{$ $ctrl.stage.type $}</button>
                <ul class="dropdown-menu list-group stage-builder-menu">
                  <li ng-click="$ctrl.changeType(type)" ng-repeat="type in $ctrl.stageTypes track by $index" ng-class="type" class="list-group-item"><span ng-class="type"></span> {$ type $}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <div uib-dropdown="uib-dropdown" class="btn-group">
              <button uib-dropdown-toggle="uib-dropdown-toggle" class="btn btn-select">Idea visibility: {$ $ctrl.stage.ideaVisibility $}</button>
              <ul class="dropdown-menu list-group">
                <li ng-show="!$ctrl.stage.ideaVisibility" ng-click="$ctrl.stage.ideaVisibility = true" ng-class="type" class="list-group-item"><span ng-class="type"></span> Visible</li>
                <li ng-show="$ctrl.stage.ideaVisibility" ng-click="$ctrl.stage.ideaVisibility = false" ng-class="type" class="list-group-item"><span ng-class="type"></span> Hidden</li>
              </ul>
            </div>
            <p class="input-group">
              <input type="text" uib-datepicker-popup="uib-datepicker-popup" ng-model="whatever" ng-required="true" close-text="Close" class="form-control"/><span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button></span>
            </p>
            <button class="btn btn-link">Progression: {$ $ctrl.stage.progression.type $}</button>
          </div>
        </div>
      </form>
      <div class="row">   
        <div class="col-xs-12">
          <div uib-tabset="uib-tabset">
            <div uib-tab="uib-tab" heading="Stage Settings">
              <stage-builder-options type="$ctrl.stage.type"></stage-builder-options>
            </div>
            <div uib-tab="uib-tab" heading="Progression Settings">
              <stage-progression-options type="$ctrl.stage.progression.type"></stage-progression-options>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>