
<div uib-dropdown="uib-dropdown" class="btn-group">
  <button uib-dropdown-toggle="uib-dropdown-toggle" dropdown-append-to-body="dropdown-append-to-body" ng-class="{'active': $ctrl.numStages === 2}" class="btn btn-link"><span class="fa fa-plus"></span> <span class="hover-reveal">Insert {$ $ctrl.numStages <= 2 ? 'First' : '' $} Stage</span> </button>
  <ul class="dropdown-menu list-group stage-builder-menu">
    <li ng-click="$ctrl.onAddStage({'type':type.type})" ng-repeat="type in $ctrl.stageTypes track by $index" ng-class="type" class="list-group-item text-center">{$ type.type $}<em class="btn-block">{$ type.desc $}</em></li>
  </ul>
</div>