// output:../views/challenge.html

.row
  section.col-xs-12
    h2.text-center {$ challenge.sectionTitle $}
    .challenge-wizard
      ul.list-unstyled
        li Start
        li Design
        li.active Build
        li Publish
      
    hr
    stage-builder
