// output:../views/challenge.html

.row
  section.col-xs-12
    h2.text-center {$ challenge.sectionTitle $}
    p.text-center Refer to bottom of page for issues list
    hr
    stage-builder
      //- Stage Article
      
.row
  section.col-xs-12
    hr
    pre {$ challenge.issues | json $}
